footer {
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0 1em;
}
footer img {
    margin-bottom: 2em;
    width: 20%;
    max-width: 150px;
}
footer span {
    color: #FFF;
}

@media screen and (max-width: 650px) {
    footer {
        padding: 3em 0;
    }
    footer img {
        margin-bottom: 2em;
        width: 40%;
    }
    footer span {
        font-size: .9em;
    }
}